html {
    background-color: crimson;
    font-size: 1.5vw;
}

.app {
    text-align: center;
    background-color: crimson;
}

.sideMenu {
    width: 20vw;
    height: 100vh;
    background-color: aqua;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hexInput p {
    margin: 5px;
}

.colorPickerCanvas {
    width: 35vw;
    height: 35vw;
    background-color: burlywood;
    position: absolute;
    left: 25vw;
    top: 10vh;
}

.pickerTypeMenu {
    width: 35vw;
    height: 10vh;
    background-color: darkorange;
    position: absolute;
    left: 25vw;
    top: calc(35vw + 10vh);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputRange {
    width: 60%;
}

.inputBox {
    height: 1.5vw;
    font-size: 1.5vw;
    width: 150px;
    background-color: rgba(0, 0, 0, 0)
}

.rgbBox {
    width: 50px;
}

#canvas {
    width: 100%;
    height: 100%;
}
